<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".p" %>
  <%= link_to t(".help_page"), "http://www.railstutorial.org/help" %>
  <%= t ".a" %>
  <%= link_to t(".rails"), "http://www.railstutorial.org/book" %>
  <%= t ".name" %>
</p>
