<div class="center jumbotron">
  <h1><%= t ".h1" %></h1>
  <h2>
    <%= t ".h2" %>
    <%= link_to  t(".rails"), "http://www.railstutorial.org/" %>
    <%= t ".h2_end" %>
  </h2>
  <%= link_to t(".signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), "http://rubyonrails.org/" %>
